:root {
  --font-weight-default: 400;
  --font-weight-strong: 500;
}

textarea.fp-textarea {
  all: unset;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: var(--space-6);
  padding: var(--space-1) var(--space-2);
  background-color: var(--figma-color-bg-secondary);
  border-radius: var(--radius-medium);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  letter-spacing: var(--letter-spacing-default);
  line-height: var(--line-height-default);
  color: var(--figma-color-text);
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: transparent;
  resize: none;
  word-break: break-word;

  --tw-ring-color: transparent !important;
  --tw-ring-offset-width: 0 !important;

  &:hover:where(:not(:disabled, :focus)) {
    outline-color: var(--figma-color-border);
  }

  &:focus {
    outline-color: var(--figma-color-border-selected);
  }

  &:disabled {
    background-color: var(--figma-color-bg);
    outline-color: var(--figma-color-border-disabled);
    color: var(--figma-color-text-disabled);
  }

  &::placeholder {
    color: var(--figma-color-text-tertiary);
  }
}

input.fp-Input {
  all: unset;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: var(--space-6);
  padding: var(--space-1) 0 var(--space-1) var(--space-2);
  background-color: var(--figma-color-bg-secondary);
  border-radius: var(--radius-medium);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  letter-spacing: var(--letter-spacing-default);
  line-height: var(--line-height-default);
  color: var(--figma-color-text);
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: transparent;

  &:focus {
    outline-color: var(--figma-color-border-selected);
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
  }

  --tw-ring-color: transparent !important;
  --tw-ring-offset-width: 0 !important;
}

.fp-SelectTrigger {
  width: auto !important;
}

.fp-Text,
.fp-SelectTrigger,
.fp-Textarea {
  font-weight: var(--font-weight-default);
}

.fp-Text {
  cursor: default;

  &.fp-weight-strong {
    font-weight: var(--font-weight-strong);
  }

  &.linkSeparator {
    display: flex;
    margin: 0 var(--space-0_5);
  }

  &:hover {
    cursor: default;
  }

  &.heading {
    font-weight: var(--font-weight-strong);
    padding-bottom: var(--space-1);
    display: flex;
  }

  &.subtitle {
    display: flex;

    &.truncated {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.fp-TabsTrigger {
  cursor: default;
  padding: 0 !important;

  a {
    height: 100%;
    cursor: default;
    padding: var(--space-1) var(--space-2);

    &:hover {
      cursor: default;
    }
  }

  &:hover:where([data-state='inactive']) {
    --color-icon: var(--figma-color-icon);
    background: var(--figma-color-bg-secondary);
    border-radius: var(--radius-medium);
  }
}

button {
  &:hover {
    cursor: default;
  }
}

.body {
  padding: var(--space-4);
}

nav {
  padding: var(--space-2);
  border-bottom: 1px solid var(--figma-color-border);
}

.footer {
  border-top: 1px solid var(--figma-color-border);
  padding: var(--space-3);
  display: flex;
  flex-direction: row-reverse;
}

.row-item {
  padding-bottom: var(--space-3);

  &:last-child {
    padding-bottom: 0;
  }
}

.heading-parent {
  display: flex;

  .fp-Link {
    display: flex;
    margin-left: auto;
  }

  .actionGroup {
    display: flex;
    margin-left: auto;
  }

  .clearActionGroup {
    display: flex;
  }
}

button {
  &.fp-SelectTrigger {
    min-width: 65px;
  }
}

textarea.fp-textarea,
.fp-Input {
  cursor: default !important;

  &:hover {
    cursor: default !important;
  }
}

.fp-AlertDialogContent {
  gap: 0 !important;

  .fp-AlertDialogDescription {
    padding-top: var(--space-1);
  }

  .fp-Input {
    margin: var(--space-2) 0 var(--space-1);
  }
}

.fp-Link {
  cursor: default !important;

  &:hover {
    cursor: default !important;
  }
}

.fp-AlertDialogTitle {
  display: flex;
}
