# Dependencies
node_modules/
package.json
package-lock.json
yarn.lock

# Build output
dist/
build/

# Coverage
coverage/

# Cache
.cache/
.eslintcache
.stylelintcache

# IDE
.idea/
.vscode/
*.sublime-*
