.fp-SelectTrigger {
  width: auto !important;
  font-weight: var(--font-weight-default);
}

button.fp-SelectTrigger {
  min-width: 65px;
}

/* Ensure dropdown appears above navigation bar */
.fp-SelectContent,
.fp-MenuContent {
  z-index: 20 !important;
}
