.fp-Text {
  cursor: default;
  font-weight: var(--font-weight-default);

  &.fp-weight-strong {
    font-weight: var(--font-weight-strong);
  }

  &.linkSeparator {
    display: flex;
    margin: 0 var(--space-0_5);
  }

  &:hover {
    cursor: default;
  }

  &.heading {
    font-weight: var(--font-weight-strong);
    padding-bottom: var(--space-1);
    display: flex;
  }

  &.subtitle {
    display: flex;

    &.truncated {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
