:root {
  /* Typography */
  --font-weight-default: 400;
  --font-weight-strong: 500;

  /* Spacing */
  --layout-spacing-small: var(--space-2);
  --layout-spacing-medium: var(--space-3);
  --layout-spacing-large: var(--space-4);

  /* Border */
  --border-width-default: 1px;
  --border-style-default: solid;
  --border-color-default: var(--figma-color-border);
}
